In [78]:
# Get the latest BMO report file and display its contents
import pandas as pd
import os
import glob

def get_latest_excel_file(folder_path):         
    """
    Get the latest Excel file from the specified folder
    """
    # Create a pattern to match .xlsx files
    pattern = os.path.join(folder_path, '*.xlsx')
    
    # Get all Excel files in the directory
    excel_files = glob.glob(pattern)
    
    if not excel_files:
        print(f"No Excel files found in {folder_path}")
        return None
    
    # Get the latest file based on modification time
    latest_file = max(excel_files, key=os.path.getmtime)
    return latest_file

# Specify the BMO report folder path
bmo_folder = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Logistics Reporting\000_Master_Query_Reports\Automation_DB\BMO_Reports"

# Get the latest BMO report file
bmo_file = get_latest_excel_file(bmo_folder)

if bmo_file:
    print(f"Latest BMO report file: {os.path.basename(bmo_file)}")
    # Read and display the first few rows of the Excel file
    bmo_report = pd.read_excel(bmo_file)
    print("\nFirst 5 rows of the file:")
    print(bmo_report.head())
else:
    print("No BMO report file found")

Latest BMO report file: bmo-report_2025-09-16.xlsx

First 5 rows of the file:
           Name JA partner  WH location Type of WH (bonded/non) Container No.  \
0  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   GESU6829354
1  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   MSKU9024375
2  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   TGBU4558824
3  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   MRSU3433090
4  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   CAAU9249035

  Product type Product reference Port of Loading Port of destination  \
0      Modules   JAM72D42-630/LB          NINGBO              LISBON
1      Modules   JAM72D42-630/LB          NINGBO              LISBON
2      Modules   JAM72D40-595/MB         QINGDAO              LISBON
3      Modules   JAM66D46-710/LB          NINGBO              LISBON
4      Modules   JAM66D46-710/LB          NINGBO              LISBON

  Inbound ref.   Import invoice  ... Delivery date              Customer Name  \
0  GESU6829354  JAYW20250217023  ...    2025-09-12  Amara Solar Renovables SL
1  MSKU9024375  JAYW20250217023  ...    2025-09-02  Amara Solar Renovables SL
2  TGBU4558824  JAFX20250121002  ...    2025-09-05     AUTOTRADE 2014, S.L.U.
3  MRSU3433090  JAHF20250321029  ...           NaT             BET SOLAR S.L.
4  CAAU9249035  JAHF20250321030  ...           NaT             BET SOLAR S.L.

   Customer Country                Consignee name  Destination City  \
0                ES  Amara Solar Renovables, S.L.            MADRID
1                ES  Amara Solar Renovables, S.L.              Meco
2                ES               BARQUÍN Y OTXOA             Álava
3                ES                  BET VALENCIA           SEVILLA
4                ES                  BET SEVILLA            SEVILLA

   Destination Country        Sales invoice Comments     Power  \
0                SPAIN                  NaN      NaN  362880.0
1                Spain  JASP-ASR-047-250902      NaN  362880.0
2                Spain                  NaN      NaN  428400.0
3                SPAIN                  NaN      NaN  421740.0
4                SPAIN                  NaN      NaN  421740.0

  MegaWattage_numeric
0             0.36288
1             0.36288
2             0.42840
3             0.42174
4             0.42174

[5 rows x 32 columns]

In [79]:
bmo_report.columns

Index(['Name JA partner', 'WH location', 'Type of WH (bonded/non)',
       'Container No.', 'Product type', 'Product reference', 'Port of Loading',
       'Port of destination', 'Inbound ref.', 'Import invoice', 'Inbound date',
       'Dev. Planned to Real in days Inbound date-Planned inbound date',
       'Pallets', 'Piece', 'Wattage', 'Release Number', 'Release type',
       'Incoterm', 'Release date', 'Outbound date', 'Outbound Status',
       'Agreed Delivery date', 'Delivery date', 'Customer Name',
       'Customer Country', 'Consignee name', 'Destination City',
       'Destination Country', 'Sales invoice', 'Comments', 'Power',
       'MegaWattage_numeric'],
      dtype='object')

In [80]:
#Remove these columns from the dataframe
cols = ['WH location', 'Type of WH (bonded/non)','Product type', 'Product reference', 'Port of Loading',
       'Port of destination', 'Inbound ref.', 'Import invoice','Dev. Planned to Real in days Inbound date-Planned inbound date','Release type',
       'Incoterm','Agreed Delivery date', 'Delivery date', 'Customer Name',
       'Customer Country', 'Consignee name', 'Destination City',
       'Destination Country', 'Sales invoice', 'Comments','Outbound Status','Inbound date','Outbound date','Release date']

# Drop specified columns from bmo_report
bmo_report = bmo_report.drop(columns=cols)

In [81]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
bmo_report['Reference Number'] = bmo_report['Release Number'].astype(str) + '-' + bmo_report['Container No.'].astype(str)

# # #Based on the Reference Number, pivot the dataframe
bmo_report = (
    bmo_report
    .groupby(
        ["Reference Number", "Name JA partner", "Container No.", "Release Number"],
        as_index=False
    )["Piece"]
    .sum()
)
bmo_report.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,Piece
0,2503070024-TXGU5507742,Odin,TXGU5507742,2503070024,936
1,2504010031-FFAU3902320,Bolloré Logistics,FFAU3902320,2504010031,720
2,2504010031-MSDU8803884,Bolloré Logistics,MSDU8803884,2504010031,720
3,2504010031-MSMU6740280,Bolloré Logistics,MSMU6740280,2504010031,720
4,2504010031-MSNU5632108,Bolloré Logistics,MSNU5632108,2504010031,720
5,2504010031-TRHU7432598,Bolloré Logistics,TRHU7432598,2504010031,720
6,2504250018-EGHU9346677,Kuehne + Nagel Logistics BV,EGHU9346677,2504250018,248
7,2504300010-EITU1139843,Kuehne + Nagel Logistics BV,EITU1139843,2504300010,72
8,2504300010-GCXU6443101,Kuehne + Nagel Logistics BV,GCXU6443101,2504300010,72
9,2505210008-PCIU9426276,Bolloré Logistics,PCIU9426276,2505210008,31

In [82]:
# Now  get the latest WMS report file 
def get_latest_excel_file(folder_path):         
    """
    Get the latest Excel file from the specified folder
    """
    # Create a pattern to match .xlsx files
    pattern = os.path.join(folder_path, '*.xlsx')
    
    # Get all Excel files in the directory
    excel_files = glob.glob(pattern)
    
    if not excel_files:
        print(f"No Excel files found in {folder_path}")
        return None
    
    # Get the latest file based on modification time
    latest_file = max(excel_files, key=os.path.getmtime)
    return latest_file

# Specify the BMO report folder path
wms_folder = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\a_Combinded WM_Report\Outbound_WMS_Report"

# Get the latest BMO report file
wms_file = get_latest_excel_file(wms_folder)

if wms_file:
    print(f"Latest WMS report file: {os.path.basename(wms_file)}")
    # Read and display the first few rows of the Excel file
    wms_report = pd.read_excel(wms_file)
    print("\nFirst 5 rows of the file:")
    print(wms_report.head())
else:
    print("No WMS report file found")

Latest WMS report file: Combined_Outbound_WMS_20250917.xlsx

First 5 rows of the file:
           Base name Organization Code Organization Name Warehouse  Wharea  \
0  INV_084_邢台组件(E54)               E66        INV_德国库存组织       E66  GE-309
1  INV_061_奉贤组件(E07)               E66        INV_德国库存组织       E66  GE-321
2  INV_065_合肥组件(E09)               E66        INV_德国库存组织       E66  GE-301
3  INV_198_扬州组件(E28)               E66        INV_德国库存组织       E66  GE-312
4  INV_065_合肥组件(E09)               E66        INV_德国库存组织       E66  GE-DDP

  Wharea Name Wharea.1 Internal invoice number Container number  \
0          WD  309.A01         JAXT20240328035      AMFU8621604
1       ABREU  321.A01         JAFX20240507027      AMFU8732193
2        Odin  301.A01         JAHF20240401019      AMFU8821243
3      GLOVIS  312.A01        JAXNY20241114014      AMFU8872488
4      DDP虚拟仓   GE-DDP         JAHF20240223039      AMFU8877978

  Release number  ... External contract number            Delivery Address  \
0     2412040068  ...       JAG-GTES240914701M       51.746500,  15.630401
1     2411150009  ...       JAG-BFS9241119101M                         NaN
2     2405300034  ...       JAG-VISE240318602M  Vispiron EPC GmbH & Co. KG
3     2501060009  ...       JAG-EONM240920405M                         NaN
4     2000038174  ...                      NaN                         NaN

   Country Code  Number of Pallets carbonFootprint        Source_File  \
0            PL                 20             NaN  Archive_Data.xlsx
1           NaN                 22             NaN  Archive_Data.xlsx
2            DE                 20             NaN  Archive_Data.xlsx
3           NaN                 16             NaN  Archive_Data.xlsx
4            PT                 16             NaN  Archive_Data.xlsx

                    Ref1 customerName currencyCode wattUnitPrice
0  2412040068AMFU8621604          NaN          NaN           NaN
1  2411150009AMFU8732193          NaN          NaN           NaN
2  2405300034AMFU8821243          NaN          NaN           NaN
3  2501060009AMFU8872488          NaN          NaN           NaN
4  2000038174AMFU8877978          NaN          NaN           NaN

[5 rows x 29 columns]

In [83]:
wms_report.columns

Index(['Base name', 'Organization Code', 'Organization Name', 'Warehouse',
       'Wharea', 'Wharea Name', 'Wharea.1', 'Internal invoice number',
       'Container number', 'Release number', 'Type', 'Quantity', 'Wattage',
       'Total wattage', 'Trade terms', 'Operation Time', 'statisticsDate',
       'Outbound time', 'Signing time', 'External contract number',
       'Delivery Address', 'Country Code', 'Number of Pallets',
       'carbonFootprint', 'Source_File', 'Ref1', 'customerName',
       'currencyCode', 'wattUnitPrice'],
      dtype='object')

In [84]:
#Remove these columns from the dataframe
wms_cols = ['Base name', 'Organization Code', 'Organization Name', 'Warehouse',
       'Wharea', 'Wharea Name', 'Wharea.1', 'Type', 'Trade terms', 'Operation Time', 'statisticsDate',
       'Outbound time', 'Signing time', 'External contract number',
       'Delivery Address', 'Country Code', 'Number of Pallets',
       'carbonFootprint', 'Source_File', 'Ref1', 'customerName',
       'currencyCode', 'wattUnitPrice']

# Drop specified columns from bmo_report
wms_report = wms_report.drop(columns=wms_cols)

In [85]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
wms_report['Reference Number'] = wms_report['Release number'].astype(str) + '-' + wms_report['Container number'].astype(str)

# # #Based on the Reference Number, pivot the dataframe
wms_report = (
    wms_report
    .groupby(
        ["Reference Number","Container number", "Release number"],
        as_index=False
    )["Quantity"]
    .sum()
)
wms_report.head(10)

         Reference Number Container number Release number  Quantity
0  2000035496-TCNU2812842      TCNU2812842     2000035496       496
1  2000035597-EGHU8449074      EGHU8449074     2000035597       720
2  2000035597-EITU1969183      EITU1969183     2000035597       720
3  2000035597-TGBU7121864      TGBU7121864     2000035597       720
4  2000035597-TGBU7286479      TGBU7286479     2000035597       720
5  2000035597-TGBU7296034      TGBU7296034     2000035597       720
6  2000035781-BMOU4828280      BMOU4828280     2000035781       720
7  2000035781-EGHU9680982      EGHU9680982     2000035781       720
8  2000035781-EITU1222731      EITU1222731     2000035781       720
9  2000035781-EITU1448971      EITU1448971     2000035781       720

In [86]:
#Now merge the two dataframes on the Reference Number column
merged_df = pd.merge(bmo_report, wms_report, on='Reference Number', how='left')

merged_df = merged_df.rename(columns= {'Piece': 'BMO Pcs', 'Quantity': 'WMS Pcs'})

# add a new column as BMO Pcs = WMS Pcs
merged_df['BMO Pcs = WMS Pcs'] = merged_df['BMO Pcs'] == merged_df['WMS Pcs']

merged_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,Container number,Release number,WMS Pcs,BMO Pcs = WMS Pcs
0,2503070024-TXGU5507742,Odin,TXGU5507742,2503070024,936,TXGU5507742,2503070024,936.0,True
1,2504010031-FFAU3902320,Bolloré Logistics,FFAU3902320,2504010031,720,FFAU3902320,2504010031,720.0,True
2,2504010031-MSDU8803884,Bolloré Logistics,MSDU8803884,2504010031,720,MSDU8803884,2504010031,720.0,True
3,2504010031-MSMU6740280,Bolloré Logistics,MSMU6740280,2504010031,720,MSMU6740280,2504010031,720.0,True
4,2504010031-MSNU5632108,Bolloré Logistics,MSNU5632108,2504010031,720,MSNU5632108,2504010031,720.0,True
5,2504010031-TRHU7432598,Bolloré Logistics,TRHU7432598,2504010031,720,TRHU7432598,2504010031,720.0,True
6,2504250018-EGHU9346677,Kuehne + Nagel Logistics BV,EGHU9346677,2504250018,248,EGHU9346677,2504250018,248.0,True
7,2504300010-EITU1139843,Kuehne + Nagel Logistics BV,EITU1139843,2504300010,72,EITU1139843,2504300010,648.0,False
8,2504300010-GCXU6443101,Kuehne + Nagel Logistics BV,GCXU6443101,2504300010,72,GCXU6443101,2504300010,648.0,False
9,2505210008-PCIU9426276,Bolloré Logistics,PCIU9426276,2505210008,31,PCIU9426276,2505210008,40.0,False

In [87]:
#Now get the data from EU stock report from location
eu_stock_report = pd.read_excel(r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\Y_EU Report\Europe Stock 最新版.xlsx", sheet_name='Summary-Europe')

#read the first 5 rows of the dataframe
eu_stock_report.columns

C:\Users\DeepakSureshNidagund\AppData\Roaming\Python\Python313\site-packages\openpyxl\worksheet\_reader.py:223: UserWarning: Cell R17250 is marked as a date but the serial value 2505300009 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

Index(['DestinationWarehouse', 'Factory', 'Related transaction company',
       'Related transaction Term', 'EXW', 'ETD', 'ETA', 'update ETD',
       'update ETA', 'Delay (ETA Shift)',
       'Planned Transit Time as  (ETD/ ETA)', 'ATA', 'Date inbound',
       'inbound status', 'B/L', 'Vessel', 'Sold Date', 'DN', 'Inv.', 'Type',
       'Type.1', 'Container', 'Qty(PC)', 'Qty(plts)', 'Power(W)',
       'Power(w/pc)', 'Status', 'Customer', 'Salesman', 'Region info',
       'Delivery Terms', 'InternalSalesContract', 'External sales contract',
       'Currency', 'Inv No.', 'C2 --> C1 Date', 'Handover Date',
       'Contractual Delivery Week', 'Country Code', '状态',
       'Internal related price', 'Battery type', 'Border Color',
       'Junction box', 'length', 'Voltage', '边框信息', 'Storage duration',
       'Sold（Week）', 'Storage duration（days）', 'original WH',
       'Warehouse after transfer', 'ITS', 'ITS-Remark', 'Identify Risk stock',
       'ERP NO', 'ETD month', 'Sold month', 'outbound quantity',
       'Rest quantity', 'Released on the sea', 'Booking No.', 'EWX Week',
       'Type.2', 'Auxiliary column', 'SKU', 'LRF', 'Inv&type', '是否签收', '型号',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72'],
      dtype='object')

In [88]:
eu_stock_report_cols = ['DestinationWarehouse', 'Factory', 'Related transaction company',
       'Related transaction Term', 'EXW', 'ETD', 'ETA', 'update ETD',
       'update ETA', 'Delay (ETA Shift)',
       'Planned Transit Time as  (ETD/ ETA)', 'ATA', 'Date inbound',
       'inbound status', 'B/L', 'Vessel', 'Sold Date','Customer', 'Salesman', 'Region info',
       'Delivery Terms', 'InternalSalesContract', 'External sales contract',
       'Currency', 'Inv No.', 'C2 --> C1 Date', 'Handover Date',
       'Contractual Delivery Week', 'Country Code', '状态',
       'Internal related price', 'Battery type', 'Border Color',
       'Junction box', 'length', 'Voltage', '边框信息', 'Storage duration',
       'Sold（Week）', 'Storage duration（days）', 'original WH',
       'Warehouse after transfer', 'ITS', 'ITS-Remark', 'Identify Risk stock',
       'ERP NO', 'ETD month', 'Sold month', 'outbound quantity',
       'Rest quantity', 'Released on the sea', 'Booking No.', 'EWX Week',
       'Type.2', 'Auxiliary column', 'SKU', 'LRF', 'Inv&type', '是否签收', '型号',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72']

# Drop specified columns from bmo_report
eu_stock_report = eu_stock_report.drop(columns=eu_stock_report_cols)

In [89]:
# filter the data based on the columns Sataus = sold
eu_stock_report = eu_stock_report[eu_stock_report['Status'] == 'sold']
#Add a new column as Reference Number which is a combination of Release Number,Container No.
eu_stock_report['Reference Number'] = eu_stock_report['DN'].astype(str) + '-' + eu_stock_report['Container'].astype(str)


# # #Based on the Reference Number, pivot the dataframe
eu_stock_report = (
    eu_stock_report
    .groupby(
        ["Reference Number","Container", "DN"],
        as_index=False
    )["Qty(PC)"]
    .sum()
)

eu_stock_report = eu_stock_report.rename(columns= {'Qty(PC)': 'Released Pcs', 'DN': 'ERP No'})

eu_stock_report.head(10)

          Reference Number    Container       ERP No  Released Pcs
0  20230605001-EMCU8267752  EMCU8267752  20230605001            15
1   2311080032-DRYU9581320  DRYU9581320   2311080032           806
2   2311080032-EISU9370351  EISU9370351   2311080032           806
3   2311080032-EISU9478346  EISU9478346   2311080032           806
4   2401190013-TCNU7517670  TCNU7517670   2401190013           936
5   2404280004-FCIU9658939  FCIU9658939   2404280004            25
6   2406180032-MRKU4725370  MRKU4725370   2406180032             2
7   2407090002-CMAU3754061  CMAU3754061   2407090002           936
8   2407090002-TLLU4583474  TLLU4583474   2407090002           216
9   2408260008-MRSU3379168  MRSU3379168   2408260008           936

In [90]:
#merge the eu_stock_report with the merged_df
final_df = pd.merge(merged_df, eu_stock_report, on='Reference Number', how='left')

final_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,Container number,Release number,WMS Pcs,BMO Pcs = WMS Pcs,Container,ERP No,Released Pcs
0,2503070024-TXGU5507742,Odin,TXGU5507742,2503070024,936,TXGU5507742,2503070024,936.0,True,TXGU5507742,2503070024,936.0
1,2504010031-FFAU3902320,Bolloré Logistics,FFAU3902320,2504010031,720,FFAU3902320,2504010031,720.0,True,FFAU3902320,2504010031,720.0
2,2504010031-MSDU8803884,Bolloré Logistics,MSDU8803884,2504010031,720,MSDU8803884,2504010031,720.0,True,MSDU8803884,2504010031,720.0
3,2504010031-MSMU6740280,Bolloré Logistics,MSMU6740280,2504010031,720,MSMU6740280,2504010031,720.0,True,MSMU6740280,2504010031,720.0
4,2504010031-MSNU5632108,Bolloré Logistics,MSNU5632108,2504010031,720,MSNU5632108,2504010031,720.0,True,MSNU5632108,2504010031,720.0
5,2504010031-TRHU7432598,Bolloré Logistics,TRHU7432598,2504010031,720,TRHU7432598,2504010031,720.0,True,TRHU7432598,2504010031,720.0
6,2504250018-EGHU9346677,Kuehne + Nagel Logistics BV,EGHU9346677,2504250018,248,EGHU9346677,2504250018,248.0,True,EGHU9346677,2504250018,496.0
7,2504300010-EITU1139843,Kuehne + Nagel Logistics BV,EITU1139843,2504300010,72,EITU1139843,2504300010,648.0,False,EITU1139843,2504300010,720.0
8,2504300010-GCXU6443101,Kuehne + Nagel Logistics BV,GCXU6443101,2504300010,72,GCXU6443101,2504300010,648.0,False,GCXU6443101,2504300010,720.0
9,2505210008-PCIU9426276,Bolloré Logistics,PCIU9426276,2505210008,31,PCIU9426276,2505210008,40.0,False,PCIU9426276,2505210008,936.0

In [91]:
final_df = final_df.drop(columns=['ERP No', 'Container', 'Container number', 'Container', 'Release number'])

In [92]:
# add a new column as BMO Pcs = WMS Pcs
final_df['BMO Pcs = RNO Pcs'] = final_df['Released Pcs'] == final_df['BMO Pcs']

#Replace all the NaN values in these columns to  zero 
final_df[["BMO Pcs", "WMS Pcs", "Released Pcs"]] = (
    final_df[["BMO Pcs", "WMS Pcs", "Released Pcs"]].fillna(0)
)

import numpy as np
# add new columns as phase 1 of outbound , released pcs - WMS Pcs
final_df['Phase 1 outbound'] = np.where(
    final_df['Released Pcs'] - final_df['WMS Pcs'] == 0,
    final_df['BMO Pcs'],
    final_df['Released Pcs'] - final_df['WMS Pcs']
)
final_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,WMS Pcs,BMO Pcs = WMS Pcs,Released Pcs,BMO Pcs = RNO Pcs,Phase 1 outbound
0,2503070024-TXGU5507742,Odin,TXGU5507742,2503070024,936,936.0,True,936.0,True,936.0
1,2504010031-FFAU3902320,Bolloré Logistics,FFAU3902320,2504010031,720,720.0,True,720.0,True,720.0
2,2504010031-MSDU8803884,Bolloré Logistics,MSDU8803884,2504010031,720,720.0,True,720.0,True,720.0
3,2504010031-MSMU6740280,Bolloré Logistics,MSMU6740280,2504010031,720,720.0,True,720.0,True,720.0
4,2504010031-MSNU5632108,Bolloré Logistics,MSNU5632108,2504010031,720,720.0,True,720.0,True,720.0
5,2504010031-TRHU7432598,Bolloré Logistics,TRHU7432598,2504010031,720,720.0,True,720.0,True,720.0
6,2504250018-EGHU9346677,Kuehne + Nagel Logistics BV,EGHU9346677,2504250018,248,248.0,True,496.0,False,248.0
7,2504300010-EITU1139843,Kuehne + Nagel Logistics BV,EITU1139843,2504300010,72,648.0,False,720.0,False,72.0
8,2504300010-GCXU6443101,Kuehne + Nagel Logistics BV,GCXU6443101,2504300010,72,648.0,False,720.0,False,72.0
9,2505210008-PCIU9426276,Bolloré Logistics,PCIU9426276,2505210008,31,40.0,False,936.0,False,896.0

In [93]:
#Get the data from the cdr stock report 
import os
import glob
import pandas as pd

def get_latest_csv_file(folder_path):         
    """
    Get the latest CSV file from the specified folder
    """
    # Pattern to match CSV files
    pattern = os.path.join(folder_path, '*.csv')
    
    # Get all CSV files in the directory
    csv_files = glob.glob(pattern)
    
    if not csv_files:
        print(f"No CSV files found in {folder_path}")
        return None
    
    # Get the latest file based on modification time
    latest_file = max(csv_files, key=os.path.getmtime)
    return latest_file


# Specify the CDR stock report folder path
cdr_stock_report_folder = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\A_WMS Reports\CDR_Stock_Report"

# Get the latest CDR stock report file
cdr_stock_file = get_latest_csv_file(cdr_stock_report_folder)

if cdr_stock_file:
    print(f"Latest CDR stock report file: {os.path.basename(cdr_stock_file)}")
    # Read and display the first few rows of the CSV file
    cdr_stock_report = pd.read_csv(cdr_stock_file)
    print("\nFirst 5 rows of the file:")
    print(cdr_stock_report.head())
else:
    print("No CDR stock report file found")

Latest CDR stock report file: CDR_2025-09-16.csv

First 5 rows of the file:
        id          Name JA partner  WH location Type of WH (bonded/non)  \
0  5204399  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
1  5204586  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
2  5204345  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
3  5204346  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
4  5204587  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed

  Container No. Product type Product reference Port of Loading  \
0   MSKU8438832      Modules   JAM72D42-630/LB          NINGBO
1   TGBU4852633      Modules   JAM66D46-710/LB        SHANGHAI
2   TEMU6000019      Modules   JAM72D40-590/MB        SHANGHAI
3   TEMU6000019      Modules   JAM72D40-590/MB        SHANGHAI
4   TGBU4747807      Modules   JAM66D46-710/LB        SHANGHAI

  Port of destination Inbound ref.  ...     Power MegaWattage  \
0              LISBON  MSKU8438832  ...  158760.0     0.15876
1              LISBON  TGBU4852633  ...  421740.0     0.42174
2              LISBON  TEMU6000019  ...   41890.0     0.04189
3              LISBON  TEMU6000019  ...     590.0     0.00059
4              LISBON  TGBU4747807  ...  421740.0     0.42174

                     Ref1                       Ref2 Status Current_Status  \
0  50801000100MSKU8438832  50801000100MSKU8438832630    NaN       In-Stock
1         NoneTGBU4852633         NoneTGBU4852633710    NaN       In-Stock
2         NoneTEMU6000019         NoneTEMU6000019590    NaN       In-Stock
3         NoneTEMU6000019         NoneTEMU6000019590    NaN       In-Stock
4         NoneTGBU4747807         NoneTGBU4747807710    NaN       In-Stock

  Outbound_status Release_Status   Delivery_Status data_source
0  not-outbounded       Released  Partial_delivery     current
1  not-outbounded   Not released     Full_delivery     current
2  not-outbounded   Not released  Partial_delivery     current
3  not-outbounded   Not released  Partial_delivery     current
4  not-outbounded   Not released     Full_delivery     current

[5 rows x 83 columns]

In [94]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
cdr_stock_report['Reference Number'] = cdr_stock_report['Release Number'].astype(str) + '-' + cdr_stock_report['Container No.'].astype(str)


# # #Based on the Reference Number, pivot the dataframe
cdr_stock_report = (
    cdr_stock_report
    .groupby(
        ["Reference Number","Container No.", "Release Number"],
        as_index=False
    )["Piece"]
    .sum()
)

cdr_stock_report = cdr_stock_report.rename(columns= {'Piece': 'In-Stock Pcs'})

cdr_stock_report = cdr_stock_report.drop(columns=['Container No.','Release Number'])


cdr_stock_report.head()

         Reference Number In-Stock Pcs
0  2312010035-CSNU6586917           36
1  2402230002-MRSU4024352          351
2  2407030034-FCIU7505798            1
3  2409020023-MAGU5368860           72
4  2412160032-OOCU8180764          936

In [95]:
final01_df = pd.merge(final_df, cdr_stock_report, on='Reference Number', how='left')

#Replace all the NaN values in these columns to  zero 
final01_df[["In-Stock Pcs"]] = (
    final01_df[["In-Stock Pcs"]].fillna(0)
)

# Convert In-Stock Pcs column to numeric type
final01_df['In-Stock Pcs'] = pd.to_numeric(final01_df['In-Stock Pcs'], errors='coerce')


# if the "BMO Pcs = RNO Pcs" = False and "BMO Pcs = WMS Pcs" = False then 
# add the columns called "Released == Outbound + Instock "  where Released Pcs = BMO Pcs + WMS Pcs + In-Stock Pcs else zero
final01_df["Released == Outbound + Instock"] = np.where(
    (final01_df["BMO Pcs"] != final01_df["Released Pcs"]) &
    (final01_df["BMO Pcs"] != final01_df["WMS Pcs"]),
    final01_df["BMO Pcs"] + final01_df["WMS Pcs"] + final01_df["In-Stock Pcs"],
    0
)

final01_df['check1'] = final01_df["Released == Outbound + Instock"] == final01_df['Released Pcs']

final01_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,WMS Pcs,BMO Pcs = WMS Pcs,Released Pcs,BMO Pcs = RNO Pcs,Phase 1 outbound,In-Stock Pcs,Released == Outbound + Instock,check1
0,2503070024-TXGU5507742,Odin,TXGU5507742,2503070024,936,936.0,True,936.0,True,936.0,0,0.0,False
1,2504010031-FFAU3902320,Bolloré Logistics,FFAU3902320,2504010031,720,720.0,True,720.0,True,720.0,0,0.0,False
2,2504010031-MSDU8803884,Bolloré Logistics,MSDU8803884,2504010031,720,720.0,True,720.0,True,720.0,0,0.0,False
3,2504010031-MSMU6740280,Bolloré Logistics,MSMU6740280,2504010031,720,720.0,True,720.0,True,720.0,0,0.0,False
4,2504010031-MSNU5632108,Bolloré Logistics,MSNU5632108,2504010031,720,720.0,True,720.0,True,720.0,0,0.0,False
5,2504010031-TRHU7432598,Bolloré Logistics,TRHU7432598,2504010031,720,720.0,True,720.0,True,720.0,0,0.0,False
6,2504250018-EGHU9346677,Kuehne + Nagel Logistics BV,EGHU9346677,2504250018,248,248.0,True,496.0,False,248.0,248,0.0,False
7,2504300010-EITU1139843,Kuehne + Nagel Logistics BV,EITU1139843,2504300010,72,648.0,False,720.0,False,72.0,0,720.0,True
8,2504300010-GCXU6443101,Kuehne + Nagel Logistics BV,GCXU6443101,2504300010,72,648.0,False,720.0,False,72.0,0,720.0,True
9,2505210008-PCIU9426276,Bolloré Logistics,PCIU9426276,2505210008,31,40.0,False,936.0,False,896.0,26522432,26522503.0,False

In [ ]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
bmo_report['Reference Number'] = bmo_report['Release Number'].astype(str) + '-' + bmo_report['Container No.'].astype(str)

import datetime
import pandas as pd

folder_location = r'C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\A_WMS Reports\Compared_data'

# Get current date in YYYY-MM-DD format
current_date = datetime.datetime.now().strftime("%Y-%m-%d")
file_path = os.path.join(folder_location, f'Compared_data_{current_date}.xlsx')

# 1. Save the main DataFrame first (creates the file)
with pd.ExcelWriter(file_path, mode='w', engine='openpyxl') as writer:
    final01_df.to_excel(writer, sheet_name='Final Report', index=False)

# 2. Rows where BMO Pcs = WMS Pcs (Corrected outbound)
corrected_outbound = final01_df[final01_df['BMO Pcs = WMS Pcs'] == True]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    corrected_outbound.to_excel(writer, sheet_name='Corrected outbound', index=False)

# 3. Rows where BMO Pcs != WMS Pcs (Error outbound)
error_outbound = final01_df[final01_df['BMO Pcs = WMS Pcs'] == False]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    error_outbound.to_excel(writer, sheet_name='Error outbound', index=False)

# 4. Rows where BMO Pcs = RNO Pcs AND BMO Pcs != WMS Pcs (Missing outbound)
missing_outbound = final01_df[
    (final01_df['BMO Pcs = RNO Pcs'] == True) & (final01_df['BMO Pcs = WMS Pcs'] == False)
]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    missing_outbound.to_excel(writer, sheet_name='Missing outbound', index=False)

# 5. Rows where BMO Pcs = RNO Pcs AND BMO Pcs != WMS Pcs (Missing outbound_2)
missing_outbound_2 = final01_df[
    (final01_df['BMO Pcs = RNO Pcs'] == False) & (final01_df['BMO Pcs = WMS Pcs'] == False) & (final01_df['check1'] == True )
]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    missing_outbound_2.to_excel(writer, sheet_name='Missing outbound_2', index=False)

# 6. final output 
final_outbound_list1 = missing_outbound.drop(
    columns=[
        "BMO Pcs", "WMS Pcs", "BMO Pcs = WMS Pcs", "Released Pcs",
        "BMO Pcs = RNO Pcs", "In-Stock Pcs", "Released == Outbound + Instock", "check1"
    ],
    errors="ignore"
).rename(columns={"Phase 1 outbound": "Outbound Pcs"})

# Clean Missing Outbound 2
final_outbound_list2 = missing_outbound_2.drop(
    columns=[
        "Phase 1 outbound", "WMS Pcs", "BMO Pcs = WMS Pcs", "Released Pcs",
        "BMO Pcs = RNO Pcs", "In-Stock Pcs", "Released == Outbound + Instock", "check1"
    ],
    errors="ignore"
).rename(columns={"BMO Pcs": "Outbound Pcs"})

# Combine both
final_outbound_list = pd.concat([final_outbound_list1, final_outbound_list2], ignore_index=True)

#Remove the rows which have less then zero in column "Outbound Pcs""
final_outbound_list = final_outbound_list[final_outbound_list["Outbound Pcs"] >= 0]


#Get the Outbound date from 

with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    final_outbound_list.to_excel(writer, sheet_name='Final Outbound list', index=False)