In [1]:
# Get the latest BMO report file and display its contents
import pandas as pd
import os
import glob

def get_latest_excel_file(folder_path):         
    """
    Get the latest Excel file from the specified folder
    """
    # Create a pattern to match .xlsx files
    pattern = os.path.join(folder_path, '*.xlsx')
    
    # Get all Excel files in the directory
    excel_files = glob.glob(pattern)
    
    if not excel_files:
        print(f"No Excel files found in {folder_path}")
        return None
    
    # Get the latest file based on modification time
    latest_file = max(excel_files, key=os.path.getmtime)
    return latest_file

# Specify the BMO report folder path
bmo_folder = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Logistics Reporting\000_Master_Query_Reports\Automation_DB\BMO_Reports"

# Get the latest BMO report file
bmo_file = get_latest_excel_file(bmo_folder)

if bmo_file:
    print(f"Latest BMO report file: {os.path.basename(bmo_file)}")
    # Read and display the first few rows of the Excel file
    bmo_report = pd.read_excel(bmo_file)
    print("\nFirst 5 rows of the file:")
    print(bmo_report.head())
else:
    print("No BMO report file found")

Latest BMO report file: bmo-report_2025-10-29.xlsx

First 5 rows of the file:
           Name JA partner  WH location Type of WH (bonded/non) Container No.  \
0  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   MRSU5899662
1  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   CAAU5389173
2  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   EGSU9518316
3  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   HASU4012198
4  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed   MRKU5125555

  Product type Product reference Port of Loading Port of destination  \
0      Modules   JAM72D40-595/MB          NINGBO              LISBON
1      Modules   JAM72D40-595/MB         QINGDAO              LISBON
2      Modules   JAM72D40-595/MB         QINGDAO              LISBON
3      Modules   JAM72D40-595/MB          NINGBO              LISBON
4      Modules   JAM72D40-600/MB        XINGANG               LISBON

  Inbound ref.   Import invoice  ... Delivery date  \
0  MRSU5899662  JADT20250211004  ...    2025-10-02
1  CAAU5389173  JAFX20250121002  ...    2025-10-07
2  EGSU9518316  JAFX20250121002  ...    2025-10-07
3  HASU4012198  JADT20250708013  ...    2025-10-28
4  MRKU5125555  JAXT20250428034  ...    2025-10-21

                Customer Name  Customer Country  \
0   Amara Solar Renovables SL                ES
1              BET SOLAR S.L.                ES
2              BET SOLAR S.L.                ES
3  Donauer Solar Systems, Lda                PT
4     Suministros Solares S.L                ES

                      Consignee name  Destination City  Destination Country  \
0          Amara Solar Renovables SL            Madrid                Spain
1                     BET SOLAR S.L.          Sevilla                 Spain
2                     BET SOLAR S.L.          Sevilla                 Spain
3                                NaN               NaN                  NaN
4  Suministros Eléctricos ESSAN S.L.             ÁVILA                SPAIN

  Sales invoice Comments   Power MegaWattage_numeric
0           NaN      NaN  428400              0.4284
1           NaN      NaN  428400              0.4284
2           NaN      NaN  428400              0.4284
3           NaN      NaN  428400              0.4284
4           NaN      NaN  432000              0.4320

[5 rows x 32 columns]

In [2]:
bmo_report.columns

Index(['Name JA partner', 'WH location', 'Type of WH (bonded/non)',
       'Container No.', 'Product type', 'Product reference', 'Port of Loading',
       'Port of destination', 'Inbound ref.', 'Import invoice', 'Inbound date',
       'Dev. Planned to Real in days Inbound date-Planned inbound date',
       'Pallets', 'Piece', 'Wattage', 'Release Number', 'Release type',
       'Incoterm', 'Release date', 'Outbound date', 'Outbound Status',
       'Agreed Delivery date', 'Delivery date', 'Customer Name',
       'Customer Country', 'Consignee name', 'Destination City',
       'Destination Country', 'Sales invoice', 'Comments', 'Power',
       'MegaWattage_numeric'],
      dtype='object')

In [3]:
#Remove these columns from the dataframe
cols = ['WH location', 'Type of WH (bonded/non)','Product type', 'Product reference', 'Port of Loading',
       'Port of destination', 'Inbound ref.', 'Import invoice','Dev. Planned to Real in days Inbound date-Planned inbound date','Release type',
       'Incoterm','Agreed Delivery date', 'Delivery date', 'Customer Name',
       'Customer Country', 'Consignee name', 'Destination City',
       'Destination Country', 'Sales invoice', 'Comments','Outbound Status','Inbound date','Outbound date','Release date']

# Drop specified columns from bmo_report
bmo_report = bmo_report.drop(columns=cols)

In [4]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
bmo_report['Reference Number'] = bmo_report['Release Number'].astype(str) + '-' + bmo_report['Container No.'].astype(str)

# # #Based on the Reference Number, pivot the dataframe
bmo_report = (
    bmo_report
    .groupby(
        ["Reference Number", "Name JA partner", "Container No.", "Release Number"],
        as_index=False
    )["Piece"]
    .sum()
)
bmo_report.head(10)

         Reference Number Name JA partner Container No.  Release Number  Piece
0  2502280029-EITU1834974          Seacon   EITU1834974      2502280029    936
1  2503190017-CAAU5675789  Real Logistics   CAAU5675789      2503190017    180
2  2503190017-FCIU7360626  Real Logistics   FCIU7360626      2503190017     72
3  2505150067-FFAU4129426             KRL   FFAU4129426      2505150067    144
4  2505150067-MEDU7907439             KRL   MEDU7907439      2505150067    576
5  2505290066-MEDU7224704  Real Logistics   MEDU7224704      2505290066    720
6  2505290066-MSMU7751355  Real Logistics   MSMU7751355      2505290066    720
7  2505290066-TCLU9529170  Real Logistics   TCLU9529170      2505290066    720
8  2505290066-TRHU8207539  Real Logistics   TRHU8207539      2505290066    720
9  2507010022-TLLU4144276          Seacon   TLLU4144276      2507010022    936

In [5]:
# Now  get the latest WMS report file 
def get_latest_excel_file(folder_path):         
    """
    Get the latest Excel file from the specified folder
    """
    # Create a pattern to match .xlsx files
    pattern = os.path.join(folder_path, '*.xlsx')
    
    # Get all Excel files in the directory
    excel_files = glob.glob(pattern)
    
    if not excel_files:
        print(f"No Excel files found in {folder_path}")
        return None
    
    # Get the latest file based on modification time
    latest_file = max(excel_files, key=os.path.getmtime)
    return latest_file

# Specify the BMO report folder path
wms_folder = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\a_Combinded WM_Report\Outbound_WMS_Report"

# Get the latest BMO report file
wms_file = get_latest_excel_file(wms_folder)

if wms_file:
    print(f"Latest WMS report file: {os.path.basename(wms_file)}")
    # Read and display the first few rows of the Excel file
    wms_report = pd.read_excel(wms_file)
    print("\nFirst 5 rows of the file:")
    print(wms_report.head())
else:
    print("No WMS report file found")

Latest WMS report file: Combined_Outbound_WMS_20251030.xlsx

First 5 rows of the file:
           Base name Organization Code Organization Name Warehouse  Wharea  \
0  INV_084_邢台组件(E54)               E66        INV_德国库存组织       E66  GE-309
1  INV_061_奉贤组件(E07)               E66        INV_德国库存组织       E66  GE-321
2  INV_065_合肥组件(E09)               E66        INV_德国库存组织       E66  GE-301
3  INV_198_扬州组件(E28)               E66        INV_德国库存组织       E66  GE-312
4  INV_065_合肥组件(E09)               E66        INV_德国库存组织       E66  GE-DDP

  Wharea Name Wharea.1 Internal invoice number Container number  \
0          WD  309.A01         JAXT20240328035      AMFU8621604
1       ABREU  321.A01         JAFX20240507027      AMFU8732193
2        Odin  301.A01         JAHF20240401019      AMFU8821243
3      GLOVIS  312.A01        JAXNY20241114014      AMFU8872488
4      DDP虚拟仓   GE-DDP         JAHF20240223039      AMFU8877978

  Release number  ... External contract number            Delivery Address  \
0     2412040068  ...       JAG-GTES240914701M       51.746500,  15.630401
1     2411150009  ...       JAG-BFS9241119101M                         NaN
2     2405300034  ...       JAG-VISE240318602M  Vispiron EPC GmbH & Co. KG
3     2501060009  ...       JAG-EONM240920405M                         NaN
4     2000038174  ...                      NaN                         NaN

   Country Code  Number of Pallets carbonFootprint        Source_File  \
0            PL                 20             NaN  Archive_Data.xlsx
1           NaN                 22             NaN  Archive_Data.xlsx
2            DE                 20             NaN  Archive_Data.xlsx
3           NaN                 16             NaN  Archive_Data.xlsx
4            PT                 16             NaN  Archive_Data.xlsx

                    Ref1 customerName currencyCode wattUnitPrice
0  2412040068AMFU8621604          NaN          NaN           NaN
1  2411150009AMFU8732193          NaN          NaN           NaN
2  2405300034AMFU8821243          NaN          NaN           NaN
3  2501060009AMFU8872488          NaN          NaN           NaN
4  2000038174AMFU8877978          NaN          NaN           NaN

[5 rows x 29 columns]

In [6]:
wms_report.columns

Index(['Base name', 'Organization Code', 'Organization Name', 'Warehouse',
       'Wharea', 'Wharea Name', 'Wharea.1', 'Internal invoice number',
       'Container number', 'Release number', 'Type', 'Quantity', 'Wattage',
       'Total wattage', 'Trade terms', 'Operation Time', 'statisticsDate',
       'Outbound time', 'Signing time', 'External contract number',
       'Delivery Address', 'Country Code', 'Number of Pallets',
       'carbonFootprint', 'Source_File', 'Ref1', 'customerName',
       'currencyCode', 'wattUnitPrice'],
      dtype='object')

In [7]:
#Remove these columns from the dataframe
wms_cols = ['Base name', 'Organization Code', 'Organization Name', 'Warehouse',
       'Wharea', 'Wharea Name', 'Wharea.1', 'Type', 'Trade terms', 'Operation Time', 'statisticsDate',
       'Outbound time', 'Signing time', 'External contract number',
       'Delivery Address', 'Country Code', 'Number of Pallets',
       'carbonFootprint', 'Source_File', 'Ref1', 'customerName',
       'currencyCode', 'wattUnitPrice']

# Drop specified columns from bmo_report
wms_report = wms_report.drop(columns=wms_cols)

In [8]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
wms_report['Reference Number'] = wms_report['Release number'].astype(str) + '-' + wms_report['Container number'].astype(str)

# # #Based on the Reference Number, pivot the dataframe
wms_report = (
    wms_report
    .groupby(
        ["Reference Number","Container number", "Release number"],
        as_index=False
    )["Quantity"]
    .sum()
)
wms_report.head(10)

         Reference Number Container number Release number  Quantity
0  2000035496-TCNU2812842      TCNU2812842     2000035496       496
1  2000035597-EGHU8449074      EGHU8449074     2000035597       720
2  2000035597-EITU1969183      EITU1969183     2000035597       720
3  2000035597-TGBU7121864      TGBU7121864     2000035597       720
4  2000035597-TGBU7286479      TGBU7286479     2000035597       720
5  2000035597-TGBU7296034      TGBU7296034     2000035597       720
6  2000035781-BMOU4828280      BMOU4828280     2000035781       720
7  2000035781-EGHU9680982      EGHU9680982     2000035781       720
8  2000035781-EITU1222731      EITU1222731     2000035781       720
9  2000035781-EITU1448971      EITU1448971     2000035781       720

In [9]:
#Now merge the two dataframes on the Reference Number column
merged_df = pd.merge(bmo_report, wms_report, on='Reference Number', how='left')

merged_df = merged_df.rename(columns= {'Piece': 'BMO Pcs', 'Quantity': 'WMS Pcs'})

# add a new column as BMO Pcs = WMS Pcs
merged_df['BMO Pcs = WMS Pcs'] = merged_df['BMO Pcs'] == merged_df['WMS Pcs']

merged_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,Container number,Release number,WMS Pcs,BMO Pcs = WMS Pcs
0,2502280029-EITU1834974,Seacon,EITU1834974,2502280029,936,EITU1834974,2502280029,936.0,True
1,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,CAAU5675789,2503190017,180.0,True
2,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,CAAU5675789,2503190017,540.0,False
3,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,FCIU7360626,2503190017,72.0,True
4,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,FCIU7360626,2503190017,648.0,False
5,2505150067-FFAU4129426,KRL,FFAU4129426,2505150067,144,NaN,NaN,NaN,False
6,2505150067-MEDU7907439,KRL,MEDU7907439,2505150067,576,MEDU7907439,2505150067,576.0,True
7,2505290066-MEDU7224704,Real Logistics,MEDU7224704,2505290066,720,MEDU7224704,2505290066,720.0,True
8,2505290066-MSMU7751355,Real Logistics,MSMU7751355,2505290066,720,MSMU7751355,2505290066,720.0,True
9,2505290066-TCLU9529170,Real Logistics,TCLU9529170,2505290066,720,TCLU9529170,2505290066,720.0,True

In [10]:
#Now get the data from EU stock report from location
eu_stock_report = pd.read_excel(r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\Y_EU Report\Europe Stock 最新版.xlsx", sheet_name='Summary-Europe')

#read the first 5 rows of the dataframe
eu_stock_report.columns

Index(['DestinationWarehouse', 'Factory', 'Related transaction company',
       'Related transaction Term', 'EXW', 'ETD', 'ETA', 'update ETD',
       'update ETA', 'Delay (ETA Shift)',
       'Planned Transit Time as  (ETD/ ETA)', 'ATA', 'Date inbound',
       'inbound status', 'B/L', 'Vessel', 'Sold Date', 'DN', 'Inv.', 'Type',
       'Type.1', 'Container', 'Qty(PC)', 'Qty(plts)', 'Power(W)',
       'Power(w/pc)', 'Status', 'Customer', 'Salesman', 'Region info',
       'Delivery Terms', 'InternalSalesContract', 'External sales contract',
       'Currency', 'Inv No.', 'C2 --> C1 Date', 'Handover Date',
       'Contractual Delivery Week', 'Country Code', '状态',
       'Internal related price', 'Battery type', 'Border Color',
       'Junction box', 'length', 'Voltage', '边框信息', 'Storage duration',
       'Sold（Week）', 'Storage duration（days）', 'original WH',
       'Warehouse after transfer', 'ITS', 'ITS-Remark', 'Identify Risk stock',
       'ERP NO', 'ETD month', 'Sold month', 'outbound quantity',
       'Rest quantity', 'Released on the sea', 'Booking No.', 'EWX Week',
       'Type.2', 'Auxiliary column', 'SKU', 'LRF', 'Inv&type', '是否签收', '型号',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72'],
      dtype='object')

In [11]:
eu_stock_report_cols = ['DestinationWarehouse', 'Factory', 'Related transaction company',
       'Related transaction Term', 'EXW', 'ETD', 'ETA', 'update ETD',
       'update ETA', 'Delay (ETA Shift)',
       'Planned Transit Time as  (ETD/ ETA)', 'ATA', 'Date inbound',
       'inbound status', 'B/L', 'Vessel', 'Sold Date','Customer', 'Salesman', 'Region info',
       'Delivery Terms', 'InternalSalesContract', 'External sales contract',
       'Currency', 'Inv No.', 'C2 --> C1 Date', 'Handover Date',
       'Contractual Delivery Week', 'Country Code', '状态',
       'Internal related price', 'Battery type', 'Border Color',
       'Junction box', 'length', 'Voltage', '边框信息', 'Storage duration',
       'Sold（Week）', 'Storage duration（days）', 'original WH',
       'Warehouse after transfer', 'ITS', 'ITS-Remark', 'Identify Risk stock',
       'ERP NO', 'ETD month', 'Sold month', 'outbound quantity',
       'Rest quantity', 'Released on the sea', 'Booking No.', 'EWX Week',
       'Type.2', 'Auxiliary column', 'SKU', 'LRF', 'Inv&type', '是否签收', '型号',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72']

# Drop specified columns from bmo_report
eu_stock_report = eu_stock_report.drop(columns=eu_stock_report_cols)

In [12]:
# filter the data based on the columns Sataus = sold
eu_stock_report = eu_stock_report[eu_stock_report['Status'] == 'sold']
#Add a new column as Reference Number which is a combination of Release Number,Container No.
eu_stock_report['Reference Number'] = eu_stock_report['DN'].astype(str) + '-' + eu_stock_report['Container'].astype(str)


# # #Based on the Reference Number, pivot the dataframe
eu_stock_report = (
    eu_stock_report
    .groupby(
        ["Reference Number","Container", "DN"],
        as_index=False
    )["Qty(PC)"]
    .sum()
)

eu_stock_report = eu_stock_report.rename(columns= {'Qty(PC)': 'Released Pcs', 'DN': 'ERP No'})

eu_stock_report.head(10)

          Reference Number    Container       ERP No  Released Pcs
0  20230605001-EMCU8267752  EMCU8267752  20230605001            15
1   2311080032-DRYU9581320  DRYU9581320   2311080032           806
2   2311080032-EISU9370351  EISU9370351   2311080032           806
3   2311080032-EISU9478346  EISU9478346   2311080032           806
4   2401190013-TCNU7517670  TCNU7517670   2401190013           936
5   2404280004-FCIU9658939  FCIU9658939   2404280004            25
6   2406180032-MRKU4725370  MRKU4725370   2406180032             2
7   2407090002-CMAU3754061  CMAU3754061   2407090002           936
8   2407090002-TLLU4583474  TLLU4583474   2407090002           216
9   2408260008-MRSU3379168  MRSU3379168   2408260008           936

In [13]:
#merge the eu_stock_report with the merged_df
final_df = pd.merge(merged_df, eu_stock_report, on='Reference Number', how='left')

final_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,Container number,Release number,WMS Pcs,BMO Pcs = WMS Pcs,Container,ERP No,Released Pcs
0,2502280029-EITU1834974,Seacon,EITU1834974,2502280029,936,EITU1834974,2502280029,936.0,True,EITU1834974,2502280029,936.0
1,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,CAAU5675789,2503190017,180.0,True,CAAU5675789,2503190017,720.0
2,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,CAAU5675789,2503190017,540.0,False,CAAU5675789,2503190017,720.0
3,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,FCIU7360626,2503190017,72.0,True,FCIU7360626,2503190017,720.0
4,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,FCIU7360626,2503190017,648.0,False,FCIU7360626,2503190017,720.0
5,2505150067-FFAU4129426,KRL,FFAU4129426,2505150067,144,NaN,NaN,NaN,False,FFAU4129426,2505150067,360.0
6,2505150067-MEDU7907439,KRL,MEDU7907439,2505150067,576,MEDU7907439,2505150067,576.0,True,MEDU7907439,2505150067,576.0
7,2505290066-MEDU7224704,Real Logistics,MEDU7224704,2505290066,720,MEDU7224704,2505290066,720.0,True,MEDU7224704,2505290066,720.0
8,2505290066-MSMU7751355,Real Logistics,MSMU7751355,2505290066,720,MSMU7751355,2505290066,720.0,True,MSMU7751355,2505290066,720.0
9,2505290066-TCLU9529170,Real Logistics,TCLU9529170,2505290066,720,TCLU9529170,2505290066,720.0,True,TCLU9529170,2505290066,720.0

In [14]:
final_df = final_df.drop(columns=['ERP No', 'Container', 'Container number', 'Container', 'Release number'])

In [15]:
# add a new column as BMO Pcs = WMS Pcs
final_df['BMO Pcs = RNO Pcs'] = final_df['Released Pcs'] == final_df['BMO Pcs']

#Replace all the NaN values in these columns to  zero 
final_df[["BMO Pcs", "WMS Pcs", "Released Pcs"]] = (
    final_df[["BMO Pcs", "WMS Pcs", "Released Pcs"]].fillna(0)
)

import numpy as np
# add new columns as phase 1 of outbound , released pcs - WMS Pcs
final_df['Phase 1 outbound'] = np.where(
    final_df['Released Pcs'] - final_df['WMS Pcs'] == 0,
    final_df['BMO Pcs'],
    final_df['Released Pcs'] - final_df['WMS Pcs']
)
final_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,WMS Pcs,BMO Pcs = WMS Pcs,Released Pcs,BMO Pcs = RNO Pcs,Phase 1 outbound
0,2502280029-EITU1834974,Seacon,EITU1834974,2502280029,936,936.0,True,936.0,True,936.0
1,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,180.0,True,720.0,False,540.0
2,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,540.0,False,720.0,False,180.0
3,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,72.0,True,720.0,False,648.0
4,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,648.0,False,720.0,False,72.0
5,2505150067-FFAU4129426,KRL,FFAU4129426,2505150067,144,0.0,False,360.0,False,360.0
6,2505150067-MEDU7907439,KRL,MEDU7907439,2505150067,576,576.0,True,576.0,True,576.0
7,2505290066-MEDU7224704,Real Logistics,MEDU7224704,2505290066,720,720.0,True,720.0,True,720.0
8,2505290066-MSMU7751355,Real Logistics,MSMU7751355,2505290066,720,720.0,True,720.0,True,720.0
9,2505290066-TCLU9529170,Real Logistics,TCLU9529170,2505290066,720,720.0,True,720.0,True,720.0

In [16]:
#Get the data from the cdr stock report 
import os
import glob
import pandas as pd

def get_latest_csv_file(folder_path):         
    """
    Get the latest CSV file from the specified folder
    """
    # Pattern to match CSV files
    pattern = os.path.join(folder_path, '*.csv')
    
    # Get all CSV files in the directory
    csv_files = glob.glob(pattern)
    
    if not csv_files:
        print(f"No CSV files found in {folder_path}")
        return None
    
    # Get the latest file based on modification time
    latest_file = max(csv_files, key=os.path.getmtime)
    return latest_file


# Specify the CDR stock report folder path
cdr_stock_report_folder = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\A_WMS Reports\CDR_Stock_Report"

# Get the latest CDR stock report file
cdr_stock_file = get_latest_csv_file(cdr_stock_report_folder)

if cdr_stock_file:
    print(f"Latest CDR stock report file: {os.path.basename(cdr_stock_file)}")
    # Read and display the first few rows of the CSV file
    cdr_stock_report = pd.read_csv(cdr_stock_file)
    print("\nFirst 5 rows of the file:")
    print(cdr_stock_report.head())
else:
    print("No CDR stock report file found")

Latest CDR stock report file: CDR_2025-10-29.csv

First 5 rows of the file:
        id          Name JA partner  WH location Type of WH (bonded/non)  \
0  6647447  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
1  6647500  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
2  6647100  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
3  6647101  Abreu Logistics - Spain  Palmela 4JA        Non bonded fixed
4  6694377                   Seacon          NaN                     NaN

  Container No. Product type Product reference Port of Loading  \
0   CMAU4455954      Modules   JAM72D40-600/MB          NINGBO
1   TCNU3922401      Modules   JAM60D42-535/LB         NINGBO
2   TEMU6000019      Modules   JAM72D40-590/MB        SHANGHAI
3   TEMU6000019      Modules   JAM72D40-590/MB        SHANGHAI
4   TXGU7877860          NaN   JAM54D41-445/LB             NaN

  Port of destination Inbound ref.  ...     Power MegaWattage  \
0              LISBON  CMAU4455954  ...  432000.0     0.43200
1              LISBON  TCNU3922401  ...  423720.0     0.42372
2              LISBON  TEMU6000019  ...   41890.0     0.04189
3              LISBON  TEMU6000019  ...     590.0     0.00059
4                 NaN          NaN  ...  416520.0     0.41652

              Ref1                Ref2 Status Current_Status Outbound_status  \
0  NoneCMAU4455954  NoneCMAU4455954600    NaN       In-Stock  not-outbounded
1  NoneTCNU3922401  NoneTCNU3922401535    NaN       In-Stock  not-outbounded
2  NoneTEMU6000019  NoneTEMU6000019590    NaN       In-Stock  not-outbounded
3  NoneTEMU6000019  NoneTEMU6000019590    NaN       In-Stock  not-outbounded
4  NoneTXGU7877860  NoneTXGU7877860445    NaN       In-Stock  not-outbounded

  Release_Status   Delivery_Status data_source
0   Not released     Full_delivery     current
1   Not released     Full_delivery     current
2   Not released  Partial_delivery     current
3   Not released  Partial_delivery     current
4   Not released     Full_delivery     current

[5 rows x 83 columns]

In [17]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
cdr_stock_report['Reference Number'] = cdr_stock_report['Release Number'].astype(str) + '-' + cdr_stock_report['Container No.'].astype(str)


# # #Based on the Reference Number, pivot the dataframe
cdr_stock_report = (
    cdr_stock_report
    .groupby(
        ["Reference Number","Container No.", "Release Number"],
        as_index=False
    )["Piece"]
    .sum()
)

cdr_stock_report = cdr_stock_report.rename(columns= {'Piece': 'In-Stock Pcs'})

cdr_stock_report = cdr_stock_report.drop(columns=['Container No.','Release Number'])


cdr_stock_report.head()

         Reference Number In-Stock Pcs
0  2312010035-CSNU6586917           36
1  2402230002-MRSU4024352          351
2  2407030034-FCIU7505798            1
3  2409020023-MAGU5368860           72
4  2501300002-MRKU6327519            1

In [18]:
final01_df = pd.merge(final_df, cdr_stock_report, on='Reference Number', how='left')

#Replace all the NaN values in these columns to  zero 
final01_df[["In-Stock Pcs"]] = (
    final01_df[["In-Stock Pcs"]].fillna(0)
)

# Convert In-Stock Pcs column to numeric type
final01_df['In-Stock Pcs'] = pd.to_numeric(final01_df['In-Stock Pcs'], errors='coerce')


# if the "BMO Pcs = RNO Pcs" = False and "BMO Pcs = WMS Pcs" = False then 
# add the columns called "Released == Outbound + Instock "  where Released Pcs = BMO Pcs + WMS Pcs + In-Stock Pcs else zero
final01_df["Released == Outbound + Instock"] = np.where(
    (final01_df["BMO Pcs"] != final01_df["Released Pcs"]) &
    (final01_df["BMO Pcs"] != final01_df["WMS Pcs"]),
    final01_df["BMO Pcs"] + final01_df["WMS Pcs"] + final01_df["In-Stock Pcs"],
    0
)

final01_df['check1'] = final01_df["Released == Outbound + Instock"] == final01_df['Released Pcs']

final01_df.head(10)

,Reference Number,Name JA partner,Container No.,Release Number,BMO Pcs,WMS Pcs,BMO Pcs = WMS Pcs,Released Pcs,BMO Pcs = RNO Pcs,Phase 1 outbound,In-Stock Pcs,Released == Outbound + Instock,check1
0,2502280029-EITU1834974,Seacon,EITU1834974,2502280029,936,936.0,True,936.0,True,936.0,0,0.0,False
1,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,180.0,True,720.0,False,540.0,0,0.0,False
2,2503190017-CAAU5675789,Real Logistics,CAAU5675789,2503190017,180,540.0,False,720.0,False,180.0,0,720.0,True
3,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,72.0,True,720.0,False,648.0,0,0.0,False
4,2503190017-FCIU7360626,Real Logistics,FCIU7360626,2503190017,72,648.0,False,720.0,False,72.0,0,720.0,True
5,2505150067-FFAU4129426,KRL,FFAU4129426,2505150067,144,0.0,False,360.0,False,360.0,216,360.0,True
6,2505150067-MEDU7907439,KRL,MEDU7907439,2505150067,576,576.0,True,576.0,True,576.0,0,0.0,False
7,2505290066-MEDU7224704,Real Logistics,MEDU7224704,2505290066,720,720.0,True,720.0,True,720.0,0,0.0,False
8,2505290066-MSMU7751355,Real Logistics,MSMU7751355,2505290066,720,720.0,True,720.0,True,720.0,0,0.0,False
9,2505290066-TCLU9529170,Real Logistics,TCLU9529170,2505290066,720,720.0,True,720.0,True,720.0,0,0.0,False

In [19]:
#Add a new column as Reference Number which is a combination of Release Number,Container No.
bmo_report['Reference Number'] = bmo_report['Release Number'].astype(str) + '-' + bmo_report['Container No.'].astype(str)

import datetime
import pandas as pd

folder_location = r'C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\A_WMS Reports\Compared_data'

# Get current date in YYYY-MM-DD format
current_date = datetime.datetime.now().strftime("%Y-%m-%d")
file_path = os.path.join(folder_location, f'Compared_data_{current_date}.xlsx')

# 1. Save the main DataFrame first (creates the file)
with pd.ExcelWriter(file_path, mode='w', engine='openpyxl') as writer:
    final01_df.to_excel(writer, sheet_name='Final Report', index=False)

# 2. Rows where BMO Pcs = WMS Pcs (Corrected outbound)
corrected_outbound = final01_df[final01_df['BMO Pcs = WMS Pcs'] == True]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    corrected_outbound.to_excel(writer, sheet_name='Corrected outbound', index=False)

# 3. Rows where BMO Pcs != WMS Pcs (Error outbound)
error_outbound = final01_df[final01_df['BMO Pcs = WMS Pcs'] == False]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    error_outbound.to_excel(writer, sheet_name='Error outbound', index=False)

# 4. Rows where BMO Pcs = RNO Pcs AND BMO Pcs != WMS Pcs (Missing outbound)
missing_outbound = final01_df[
    (final01_df['BMO Pcs = RNO Pcs'] == True) & (final01_df['BMO Pcs = WMS Pcs'] == False)
]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    missing_outbound.to_excel(writer, sheet_name='Missing outbound', index=False)

# 5. Rows where BMO Pcs = RNO Pcs AND BMO Pcs != WMS Pcs (Missing outbound_2)
missing_outbound_2 = final01_df[
    (final01_df['BMO Pcs = RNO Pcs'] == False) & (final01_df['BMO Pcs = WMS Pcs'] == False) & (final01_df['check1'] == True )
]
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    missing_outbound_2.to_excel(writer, sheet_name='Missing outbound_2', index=False)

# 6. final output 
final_outbound_list1 = missing_outbound.drop(
    columns=[
        "BMO Pcs", "WMS Pcs", "BMO Pcs = WMS Pcs", "Released Pcs",
        "BMO Pcs = RNO Pcs", "In-Stock Pcs", "Released == Outbound + Instock", "check1"
    ],
    errors="ignore"
).rename(columns={"Phase 1 outbound": "Outbound Pcs"})

# Clean Missing Outbound 2
final_outbound_list2 = missing_outbound_2.drop(
    columns=[
        "Phase 1 outbound", "WMS Pcs", "BMO Pcs = WMS Pcs", "Released Pcs",
        "BMO Pcs = RNO Pcs", "In-Stock Pcs", "Released == Outbound + Instock", "check1"
    ],
    errors="ignore"
).rename(columns={"BMO Pcs": "Outbound Pcs"})

# Combine both
final_outbound_list = pd.concat([final_outbound_list1, final_outbound_list2], ignore_index=True)

#Remove the rows which have less then zero in column "Outbound Pcs""
final_outbound_list = final_outbound_list[final_outbound_list["Outbound Pcs"] >= 0]


#Get the Outbound date from 

with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    final_outbound_list.to_excel(writer, sheet_name='Final Outbound list', index=False)

In [20]:
import os
import glob
import pandas as pd

folder_location = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\A_WMS Reports\Compared_data"

def get_latest_file(folder, pattern="Compared_data_*.xlsx"):
    files = glob.glob(os.path.join(folder, pattern))
    if not files:
        raise FileNotFoundError(f"No files found in {folder} matching {pattern}")
    return max(files, key=os.path.getmtime)

# Get latest file
latest_file = get_latest_file(folder_location)
print(f"Latest file: {os.path.basename(latest_file)}")

# Read "Final Outbound list" sheet
final_outbound_list = pd.read_excel(latest_file, sheet_name="Final Outbound list")

print("✅ Loaded Final Outbound list")
print(final_outbound_list.head())

Latest file: Compared_data_2025-10-30.xlsx
✅ Loaded Final Outbound list
         Reference Number    Name JA partner Container No.  Release Number  \
0  2509110022-HLBU2246425             GLOVIS   HLBU2246425      2509110022
1  2509230020-TCNU4727734               Odin   TCNU4727734      2509230020
2  2509230053-BMOU6552570             GLOVIS   BMOU6552570      2509230053
3  2509230053-FFAU2338113             GLOVIS   FFAU2338113      2509230053
4  2509230060-MSMU6767064  Bolloré Logistics   MSMU6767064      2509230060

   Outbound Pcs
0           216
1           936
2           594
3           594
4           936

In [21]:
import pandas as pd
import os
import glob

def get_latest_excel_file(folder_path):         
    """
    Get the latest Excel file from the specified folder
    """
    # Create a pattern to match .xlsx files
    pattern = os.path.join(folder_path, '*.xlsx')
    
    # Get all Excel files in the directory
    excel_files = glob.glob(pattern)
    
    if not excel_files:
        print(f"No Excel files found in {folder_path}")
        return None
    
    # Get the latest file based on modification time
    latest_file = max(excel_files, key=os.path.getmtime)
    return latest_file

# Specify the BMO report folder path
bmo_folder = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Logistics Reporting\000_Master_Query_Reports\Automation_DB\BMO_Reports"

# Get the latest BMO report file
bmo_file = get_latest_excel_file(bmo_folder)

if bmo_file:
    print(f"Latest BMO report file: {os.path.basename(bmo_file)}")
    # Read and display the first few rows of the Excel file
    bmo_report = pd.read_excel(bmo_file)
    
else:
    print("No BMO report file found")


#Remove these columns from the dataframe
cols = ['WH location', 'Type of WH (bonded/non)','Product type', 'Product reference', 'Port of Loading',
       'Port of destination', 'Inbound ref.', 'Import invoice','Dev. Planned to Real in days Inbound date-Planned inbound date','Release type',
       'Incoterm','Agreed Delivery date', 'Delivery date', 'Customer Name',
       'Customer Country', 'Consignee name', 'Destination City',
       'Destination Country', 'Sales invoice', 'Comments','Outbound Status','Release date']

# Drop specified columns from bmo_report
bmo_report = bmo_report.drop(columns=cols)


#Add a new column as Reference Number which is a combination of Release Number,Container No.
bmo_report['Reference Number'] = bmo_report['Release Number'].astype(str) + '-' + bmo_report['Container No.'].astype(str)

Latest BMO report file: bmo-report_2025-10-29.xlsx

In [22]:
bmo_report.columns

Index(['Name JA partner', 'Container No.', 'Inbound date', 'Pallets', 'Piece',
       'Wattage', 'Release Number', 'Outbound date', 'Power',
       'MegaWattage_numeric', 'Reference Number'],
      dtype='object')

In [23]:
final_outbound = pd.merge(final_outbound_list, bmo_report, on='Reference Number', how='left')

#Remove these columns from the dataframe
final_outbound_cols = ['Container No._y','Name JA partner_y','Release Number_y','Pallets','Piece','Power','MegaWattage_numeric']

# Drop specified columns from bmo_report
final_outbound = final_outbound.drop(columns=final_outbound_cols)

final_outbound = final_outbound.drop_duplicates(subset=["Reference Number"], keep="last")

final_outbound.head(3)

,Reference Number,Name JA partner_x,Container No._x,Release Number_x,Outbound Pcs,Inbound date,Wattage,Outbound date
3,2509110022-HLBU2246425,GLOVIS,HLBU2246425,2509110022,216,2025-09-16,640,2025-10-24
4,2509230020-TCNU4727734,Odin,TCNU4727734,2509230020,936,2025-10-16,455,2025-10-21
5,2509230053-BMOU6552570,GLOVIS,BMOU6552570,2509230053,594,2025-10-27,710,2025-10-27

In [24]:
import datetime
import pandas as pd

current_date = datetime.datetime.now().strftime("%Y-%m-%d")

folder_location = r'C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\A_WMS Reports\Outbound list'

file_path = os.path.join(folder_location, f'Outbound _{current_date}.xlsx')

# 1. Save the main DataFrame first (creates the file)
with pd.ExcelWriter(file_path, mode='w', engine='openpyxl') as writer:
    final_outbound.to_excel(writer, sheet_name='Final Outbound', index=False)

In [25]:
import os
import glob
import pandas as pd

folder_location = r"C:\Users\DeepakSureshNidagund\OneDrive - JA Solar GmbH\Documents - Sales Dashboards (BI Solution)\A_WMS Reports\Compared_data"

def get_latest_file(folder, pattern="Compared_data_*.xlsx"):
    files = glob.glob(os.path.join(folder, pattern))
    if not files:
        raise FileNotFoundError(f"No files found in {folder} matching {pattern}")
    return max(files, key=os.path.getmtime)

# ✅ Get latest file dynamically
latest_file = get_latest_file(folder_location)
print(f"Latest file: {os.path.basename(latest_file)}")

# Load all sheets
xls = pd.ExcelFile(latest_file)

# Dictionary of DataFrames (sheet_name → DataFrame)
sheets = {name: pd.read_excel(latest_file, sheet_name=name) for name in xls.sheet_names}

# Print record count for each sheet
for name, df in sheets.items():
    print(f"Total records in sheet '{name}' : {len(df)}")

# Access like this:
final_report = sheets["Final Report"]
corrected_outbound = sheets["Corrected outbound"]
error_outbound = sheets["Error outbound"]
missing_outbound = sheets["Missing outbound"]
missing_outbound_2 = sheets["Missing outbound_2"]
final_outbound_list = sheets["Final Outbound list"]


print("")
print(f"Total records in sheet '{"Final Outbound"}' : {len(final_outbound)}")

Latest file: Compared_data_2025-10-30.xlsx
Total records in sheet 'Final Report' : 1626
Total records in sheet 'Corrected outbound' : 1516
Total records in sheet 'Error outbound' : 110
Total records in sheet 'Missing outbound' : 24
Total records in sheet 'Missing outbound_2' : 6
Total records in sheet 'Final Outbound list' : 30

Total records in sheet 'Final Outbound' : 30